<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <form class="center" [formGroup]="registerForm">
        <h4 *ngIf="routeId > 0; else cadastrarServico">Editar Serviço</h4>
        <br />
        <div>
        <ng-template #cadastrarServico>
          <h4>Cadastrar Serviço</h4>
        </ng-template>
          <div class="center"><br />
            <label>Nome do serviço:</label><br />
            <input type="text" [ngClass]="{'is-invalid': registerForm.get('Nome').errors && registerForm.get('Nome').touched}"
            formControlName="Nome" placeholder="Insira o nome">
            <div *ngIf="registerForm.get('Nome').hasError('required')
              && registerForm.get('Nome').touched" class="invalid-feedback">Nome do serviço é obrigatório.
            </div>
            <div *ngIf="registerForm.get('Nome').hasError('minlength')
              && registerForm.get('Nome').touched" class="invalid-feedback">Nome do serviço deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="registerForm.get('Nome').hasError('maxlength')
              && registerForm.get('Nome').touched" class="invalid-feedback">Nome do serviço deve ter no máximo 15 caracteres.
            </div><br /><br />
            <label>Duração:</label><br />
            <input type="time"[ngClass]="{'is-invalid': registerForm.get('Duracao').errors && registerForm.get('Duracao').touched}"
              formControlName="Duracao" placeholder="Insira o duracao">
            <div *ngIf="registerForm.get('Duracao').hasError('required')
              && registerForm.get('Duracao').touched" class="invalid-feedback">Duração do serviço é obrigatória.
            </div><br /><br />
            <label>Valor:</label><br />
            <input type="text" [ngClass]="{'is-invalid': registerForm.get('Valor').errors && registerForm.get('Valor').touched}"
              formControlName="Valor" placeholder="Insira o valor">
            <div *ngIf="registerForm.get('Valor').hasError('required')
              && registerForm.get('Valor').touched" class="invalid-feedback">Valor do serviço é obrigatório.
            </div>
            <div *ngIf="registerForm.get('Valor').hasError('min')
              && registerForm.get('Valor').touched" class="invalid-feedback">O valor mínimo do serviço é R$10,00.
            </div><br /><br />
            <div>
              <button class="btnexterno" (click)="limparForm()">Limpar</button>
              <button class="btnexterno" [disabled]="!registerForm.valid" (click)="cadastrar()">Salvar alterações
              </button><br /><br />
              <a [routerLink]="['/servicos']">Voltar para tabela de serviços</a>
            </div>
          </div>
        </div>
      </form><br/>
    </div>
  </body>
  <footer>
  <p>Todos os direitos reservados.</p>
  </footer>
</html>