<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div>
      <form class="center" [formGroup]="registerForm">
        <h4 *ngIf="routeId > 0; else cadastrarCliente">Editar Cliente</h4>
        <br />
        <div>
        <ng-template #cadastrarCliente>
          <h4>Cadastrar Cliente</h4>
        </ng-template>
          <div class="center"><br />
            <label>Nome do Cliente:</label><br />
            <input type="text" [ngClass]="{'is-invalid': registerForm.get('Nome').errors && registerForm.get('Nome').touched}"
            formControlName="Nome" placeholder="Insira o nome">
            <div *ngIf="registerForm.get('Nome').hasError('required')
              && registerForm.get('Nome').touched" class="invalid-feedback">Nome do Cliente é obrigatório.
            </div>
            <div *ngIf="registerForm.get('Nome').hasError('minlength')
              && registerForm.get('Nome').touched" class="invalid-feedback">Nome do Cliente deve ter no mínimo 4 caracteres.
            </div>
            <div *ngIf="registerForm.get('Nome').hasError('maxlength')
              && registerForm.get('Nome').touched" class="invalid-feedback">Nome do Cliente deve ter no máximo 20 caracteres.
            </div><br /><br />


            <label>Telefone:</label><br />
            <input type="text"[ngClass]="{'is-invalid': registerForm.get('Telefone').errors && registerForm.get('Telefone').touched}"
              formControlName="Telefone" placeholder="Insira o Telefone">
            <div *ngIf="registerForm.get('Telefone').hasError('required')
              && registerForm.get('Telefone').touched" class="invalid-feedback">Telefone do Cliente é obrigatória.
            </div><br /><br />


            <label>Cpf:</label><br />
            <input type="text" [ngClass]="{'is-invalid': registerForm.get('Cpf').errors && registerForm.get('Cpf').touched}"
              formControlName="Cpf" placeholder="Insira o Cpf">
            <div *ngIf="registerForm.get('Cpf').hasError('required')
              && registerForm.get('Cpf').touched" class="invalid-feedback">Cpf do Cliente é obrigatório.
            </div>
            <div *ngIf="registerForm.get('Cpf').hasError('minLength')
              && registerForm.get('Cpf').touched" class="invalid-feedback">Insira um CPF válido
            </div>
            <div *ngIf="registerForm.get('Cpf').hasError('maxLength')
              && registerForm.get('Cpf').touched" class="invalid-feedback">Insira um CPF válido
            </div><br /><br />
            <div>
              <button class="btnexterno" (click)="limparForm()">Limpar</button>
              <button class="btnexterno" [disabled]="!registerForm.valid" (click)="cadastrar()">Salvar alterações
              </button><br /><br />
              <a [routerLink]="['/clientes']">Voltar para tabela de clientes</a>
            </div>
          </div>
        </div>
      </form><br/>
    </div>
  </body>
  <footer>
  <p>Todos os direitos reservados.</p>
  </footer>
</html>